<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 源码解读</title>
</head>

<body>
  <div id="app">
    {{msg}}
    <component-a v-model="a" v-bind:b="b" @input></component-a>
  </div>
  <script src="../dist/vue.js"></script>
  <script>
    let me
    const componentA = {
      props: [
        'value', 'b'
      ],
      data() {
        return {
          bb: {
            n: '',
            m: '',
          },
        }
      },
      template: `<div>
      子：<input v-model='bb.n' type='text' />
      <input :value="value" @change="change" type='text' />
    </div>
    `,
      mounted() {
        this.bb = this.b;
      },
      methods: {
        change(e) {
          this.$emit('input', e.target.value)

        },
      }

    }

    new Vue({
      el: '#app',
      mixin: [],
      components: {
        componentA: componentA
      },
      data() {
        return {
          a: 'father',
          b: {
            n: 1,
            m: 2
          },
          msg: 'hello Vue!'
        }

      },
      watch: {},
      computed: {},
      beforeCreate() {},
      created() {
        me = this
      },
      beforeMount() {},
      mounted() {},
      beforeDestroy() {},
      destroyed() {},
      motheds: {
        firstFun() {},
      },
    })

  </script>
</body>

</html>
