<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 源码解读</title>
</head>

<body>
  <div id="app">
    <div>{{msg}}</div>
    <p style="display: inline;">{{mm}}</p><button @click='mm.push(33)'>添加33</button>
    <component-a v-model="a" v-bind:b="b" @input></component-a>
    <component-b></component-b>
    <blog-post>
      <template v-slot:header>
        <h1>About Me</h1>
      </template>

      <p>Here's some page content, which will be included in vm.$slots.default, because it's not inside a named slot.
      </p>

      <template v-slot:footer>
        <p>Copyright 2016 Evan You</p>
      </template>

      <p>If I have some content down here, it will also be included in vm.$slots.default.</p>
    </blog-post>
  </div>
  <script src="../dist/vue.js"></script>
  <script>
    let me
    const componentA = {
      props: [
        'value', 'b'
      ],
      data() {
        return {
          bb: {
            n: '',
            m: '',
          },
        }
      },
      template: `<div>
      子：<input v-model='bb.n' type='text' />
      <input :value="value" @change="change" type='text' />
    </div>
    `,
      mounted() {
        this.bb = this.b;
      },
      methods: {
        change(e) {
          this.$emit('input', e.target.value)

        },
      }

    }
    const blogPost = Vue.component('blog-post', {
      render: function (createElement) {
        var header = this.$slots.header
        var body = this.$slots.default
        var footer = this.$slots.footer
        return createElement('div', [
          createElement('header', header),
          createElement('main', body),
          createElement('footer', footer)
        ])
      }
    })
    new Vue({
      el: '#app',
      mixin: [],
      components: {
        componentA: componentA,
        blogPost,
        componentB: {
          render(createElement) {
            return createElement('div', {
              id: 'asd'
            }, 'render')
          },
        }
      },
      data() {
        return {
          a: 'father',
          b: {
            n: 1,
            m: 2
          },
            mm:[1,2,3,4,5,6],
          msg: 'hello Vue!'
        }

      },
      watch: {},
      computed: {},
      beforeCreate() {},
      created() {
        me = this
        me.mm.push(33)
      },
      beforeMount() {},
      mounted() {},
      beforeDestroy() {},
      destroyed() {},
      motheds: {
        firstFun() {},
      },
    })

  </script>
</body>



</html>
